<html>

	<head>
		<title>MySpecialWebPage</title>
		<link rel="stylesheet" href="css/style.css"/>
	</head>

	<body>
		<h1>My African Adventures!</h1>
		<div>
		<h2>Capetown - South Africa</h2>
		<a href="http://en.wikipedia.org/wiki/Cape_Town" target="_blank"> <img src="images/capetown.jpg"> </a>
		<br>
		<h3>Capetown was amazing!</h3>
		<h3>Rating: 4 (out of 5)</h3>
		</div>
		<div>
		<h2>Victoria Falls - Zimbabwe</h2>
		<a href="http://en.wikipedia.org/wiki/Victoria_falls" target="_blank"> <img src="images/victoriafalls.jpg"> </a>
		<br>
		<h3>Victoria Falls was amazing!</h3>
		<h3>Rating: 4 (out of 5)</h3>
		</div>
		<div>
		<h2>Morocco Beach</h2>
		<a href="http://en.wikipedia.org/wiki/Morocco" target="_blank"> <img src="images/morocco-beach.jpg"> </a>
		<br>
		<h3>Morocco Beach was amazing!</h3>
		<h3>Rating: 4 (out of 5)</h3>
		</div>
		<div>
		<h2>Sand Dunes</h2>
		<a href="http://en.wikipedia.org/wiki/Sand_dunes" target="_blank"> <img src="images/sand-dunes.jpg"> </a>
		<br>
		<h3>The sand dunes were amazing!</h3>
		<h3>Rating: 4 (out of 5)</h3>
		</div>
	</body>

</html>